{% assign page = include.page %}
{% assign site = include.site %}
{% assign menu = site.menus.main %}
<script src="https://www.paypal.com/sdk/js?client-id=AYN3yOf5XJJYgAhfG2f5TQj0_HDGq28Xj9TD2oPC07XdJK3-Pz-9BjEEImAP_oT4K3FNM8TrWV2Mv9SX&currency=BRL"></script>

<footer class="footer">
    <div class="footer__container">
        <a href="/">
            
            {% include picture.html image=site.logos.light cssClass='footer__logo' alt='Planty logo' %}
        </a>
        <ul class="footer__nav">
            {% for item in menu %}
            <li class="footer__nav-item">
                <a href="{{ item.url | relative_url }}" {% if item.title == page.title %}class="footer__nav-link footer__nav-link--active" {% else %}class="footer__nav-link"{% endif %}>
                {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="footer__legal-notice"> &copy; 2019 iTechRP. Todos os direitos reservados.</div>
    </div>
    <address class="addr">
        <p><strong>Endereço:</strong> Rua: São José, 798  - Ribeirão Preto-SP <strong> Contato:</strong> 16 3325-1340 ou contato@itechrp.com.br <strong> CNPJ:</strong> 22.046.867/0001-10</p>
    </address>
    <div class="dev">
        <p>Desenvolvido por <a href="#">Lucas Frutig </a>👽</p>
    </div>
</footer>
