{% assign page = include.page %}
{% assign site = include.site %}
{% assign menu = site.menus.main %}

<footer class="footer">
    <div class="footer__container">
        <a href="/">
            
            {% include picture.html image=site.logos.light cssClass='footer__logo' alt='Planty logo' %}
        </a>
        <ul class="footer__nav">
            {% for item in menu %}
            <li class="footer__nav-item">
                <a href="{{ item.url | relative_url }}" {% if item.title == page.title %}class="footer__nav-link footer__nav-link--active" {% else %}class="footer__nav-link"{% endif %}>
                {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <!-- PayPal Logo --><table style="margin:auto;" border="0" cellpadding="10" cellspacing="10" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
        <div class="footer__legal-notice"> &copy; 2019 iTechRP. Todos os direitos reservados.</div>
    </div>
    <address class="addr">
        <p><strong>Endereço:</strong> Rua: São José, 798  - Ribeirão Preto-SP <strong> Contato:</strong> 16 3325-1340 ou contato@itechrp.com.br <strong> CNPJ:</strong> 22.046.867/0001-10</p>
        <p style="text-align: center; padding: 10px;">Entre em contato pelo nosso whatsapp: <a href="tel: +55 16 996330177">(16) 99633-0177</a></p>
    </address>
    <div class="dev">
        <p>Desenvolvido por <a href="#">Lucas Frutig </a>👽</p>
    </div>
</footer>
